################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UnitTests/SampleTestProject/bin
/UnitTests/SampleTestProject/obj
